{{#section "js"}}
    <script src="/static/js/wardOfficer/home.js"></script>
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="/static/css/wardOfficer/home.css" />
{{/section}}
<input type="hidden" id="userWardId" value="{{authUser.wardId}}">
<div id="map-container">
    <div id="map"></div>
    <div id="map-control-panel">
        <label class="switch">
            <input type="checkbox" id="switchAds" />
            <span class="slider round"></span>
        </label>
        <span class="switch-label">Bảng QC</span>
        <label class="switch">
            <input type="checkbox" id="switchReport" />
            <span class="slider round"></span>
        </label>
        <span class="switch-label">Báo cáo vi phạm</span>
    </div>
    <div id="sidebar">
        <img class="img-detail-panel" src="../../static/images/citizen/test.jpg" alt="" />
    </div>
    <button id="toggleSidebarButton" style="display: none;"><i class="bi bi-caret-right-fill"></i></button>
</div>