<div class="custom-container">
    <form action="" method="post">
        <div class="card">
            <h5 class="card-header">
            Xem chi tiết quận
            </h5>
            <div class="card-body">
                <div class="form-group">
                    <label for="txtDistrictID">#</label>
                    <input type="text" id="txtDistrictID" class="form-control" readonly value="{{districtId}}">
                </div>
                <div class="form-group">
                    <label for="txtName">Tên quận</label>
                    <input type="text" id="txtName" class="form-control" readonly value="{{name}}">
                </div>
                <div class="form-group">
                    <label for="txtDescription">Mô tả</label>
                    <textarea class="form-control" id="txtDescription" rows="3" readonly value="{{description}}"></textarea>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-outline-success" href="/department-officer/district" role="button">
                    <i class="bi bi-skip-backward-fill"></i>
                    Danh sách
                </a>
            </div>
        </div>
    </form>
</div>