{{#section 'css'}}
    <link rel="stylesheet" href="/static/css/departmentOfficer/citizen_report.css">
{{/section}}

<div class="custom-container">
    <div class="dashboard mt-3">
        <a href="/department-officer/district" class="info-card-2 d-flex flex-column align-items-center">
            <h4>Quản lý danh sách quận</h4>
        </a>
        <a href="/department-officer/ward?districtId=-1&page=1" class="info-card-2 d-flex flex-column align-items-center">
            <h4>Quản lý danh sách phường</h4>
        </a>
        <a href="/department-officer/provided-info/location-type" class="info-card-2 d-flex flex-column align-items-center">
            <h4>Quản lý các thông tin cung cấp</h4>
        </a>
    </div>
    <div class="dashboard mt-3">
        <a href="/department-officer/ads-location-modification-request" class="info-card-2 d-flex flex-column align-items-center">
            <h4>Quản lý các điểm đặt quảng cáo</h4>
        </a>
        <a href="/department-officer/ads-panel-modification-request" class="info-card-2 d-flex flex-column align-items-center">
            <h4>Quản lý các bảng quảng cáo</h4>
        </a>
    </div>
</div>