{{#section 'css'}}
    <link rel="stylesheet" href="/static/css/departmentOfficer/citizen_report.css">
{{/section}}

<div class="custom-container">
    <div class="dashboard mt-3">
        <a href="/department-officer/management-officer/list-officer?role=-1&page=1" class="info-card-2 d-flex flex-column align-items-center">
            <h5 class="management">Xem danh sách các <br> cán bộ Phường, Quận</h5>
        </a>
        <a href="/department-officer/management-officer" class="info-card-2 d-flex justify-content-center align-items-center">
            <h5 class="management">Tạo tài khoản cho <br> các cán bộ Phường, Quận</h5>
        </a>
        <a href="/department-officer/management-officer/arrage" class="info-card-2 d-flex flex-column align-items-center">
            <h5 class="management">Phân công khu vực quản lý (Phường, Quận) cho các tài khoản </h5>
        </a>
    </div>
</div>