{{#section 'css'}}
    <link rel="stylesheet" href="/static/css/departmentOfficer/citizen_report.css">
{{/section}}

<div class="custom-container">
    <div class="dashboard mt-3">
        <a href="/department-officer/ads-location-modification-request?districtId=-1&wardid=-1&page=1" class="info-card-2 d-flex justify-content-center align-items-cente">
            <h5 class="management">Yêu cầu chỉnh sửa <br> điểm đặt quảng cáo</h5>
        </a>
        <a href="/department-officer/ads-panel-modification-request?districtId=-1&wardid=-1&page=1" class="info-card-2 d-flex flex-column align-items-center">
            <h5 class="management">Yêu cầu chỉnh sửa <br> bảng quảng cáo</h5>
        </a>
        <a href="/department-officer/license-request?districtId=-1&wardId=-1&page=1" class="info-card-2 d-flex flex-column align-items-center">
            <h5 class="management">Yêu cầu xét duyệt <br> cấp phép quảng cáo</h5>
        </a>
    </div>
</div>