{{#section "js"}}
    <script src="/static/js/citizen/home.js"></script>
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="/static/css/citizen/home.css" />
{{/section}}
<h1>Trang chủ</h1>