{{#section "js"}}

    <script src="/static/js/citizen/home.js"></script>

{{/section}}
{{#section "css"}}

    <link rel="stylesheet" href="/static/css/citizen/home.css" />
{{/section}}
<div id="map-container">
    <div id="map"></div>
    <div id="map-control-panel">
        <label class="switch">
            <input type="checkbox" id="switchAds" />
            <span class="slider round"></span>
        </label>
        <span class="switch-label">Bảng QC</span>
        <label class="switch">
            <input type="checkbox" id="switchReport" />
            <span class="slider round"></span>
        </label>
        <span class="switch-label">Báo cáo vi phạm</span>
        <button id="return-location">Trở về vị trí hiện tại</button>
    </div>
    <div id="sidebar">

    </div>
    <button id="toggleSidebarButton" style="display: none;"><i class="bi bi-caret-right-fill"></i></button>
</div>